.title {
    text-align: center;
    color: red;
    background-color: blue;
    font-size: 36px;
}

.recipe.title {
    text-align: center;
    background-color: red;
    font-size: 36px;
}

.catchphrase {
    text-align: center;
    color: green;
    background-color: yellow;
    font-size: 24px;
}

.cheering {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.cookie {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 225px;
    height:auto;
}

.macaroni {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 225px;
    height: auto;
}

.chicken {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.discription {
    color: blue;
    background-color: rgb(155, 240, 17);
    font-weight: bold;
    text-align: center;
}

a {
    display: block;
    text-align: center;
}

ul {
    display: table;
    margin: 0 auto;
}

.list {
    color: yellow;
    background-color: blue;
    font-size: 18px;
}